{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}
{% load static %}
{% block title %} {{ post.user.profile.name }}: "{{ post.content|short }}" {% endblock title %}
{% block main %}
<div class="flex">
    {% include "components/header.html" %}
    <main class="w-full min-h-screen border-x-2 md:border-x border-zinc-900">
        <div class="sticky top-0 z-20 bg-black bg-opacity-65 bg-blur backdrop-filter backdrop-blur-lg">
            <div class="flex items-center gap-3 p-4">
                <a href="{% url 'home' %}"
                    class="mt-1 transition duration-500 ease-in-out cursor-pointer rounded-full hover:bg-zinc-800">
                    <svg class="m-1.5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M19 12H6M12 5l-7 7 7 7" />
                    </svg>
                </a>
                <p class="font-semibold text-white text-xl">Post</p>
            </div>
        </div>
        {% include "components/post.html" %}
        {% include "components/form.html" %}
        {% if error %}
        <div
            class="text-center py-4 border-b-2 md:border-b border-zinc-900 transition duration-500 ease-in-out hover:bg-zinc-800 hover:bg-opacity-25">
            <p class="text-xl text-rose-600 font-semibold">{{ error }}</p>
        </div>
        {% endif %}
        {% for comment in comments %}
        {% include "components/comment.html" %}
        {% empty %}
        <div class="h-screen text-center py-4 border-b-2 md:border-b border-zinc-900">
            <p class="font-normal text-zinc-600 text-base">There are no comments</p>
        </div>
        {% endfor %}
    </main>
    {% include "components/footer.html" %}
</div>
{% endblock main %}