{% load static %}
<footer class="flex px-12 lg:w-96 2xl:w-full hidden lg:block">
    <div class="flex flex-col gap-4 items-start justify-start lg:w-80 xl:w-96">
        <form method="GET" action="{% url 'search' %}" class="sticky top-0 bg-black pb-1.5">
            {% csrf_token %}
            <div class="relative mt-2 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg id="icon" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="38" height="38"
                        viewBox="0 0 24 24" fill="none" stroke="#a1a1aa" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <input type="text" id="search" name="search"
                    class="block w-full rounded-full border-0 py-3 pl-12 pr-36 bg-zinc-900 text-gray-400 font-semibold ring-inset focus:ring-2 focus:ring-inset focus:ring-sky-500 focus:text-gray-100 focus:bg-black"
                    placeholder="Search" value="{{ search }}" required>
                <button id="clear" type="button"
                    class="absolute inset-y-0 right-0 flex items-center pr-3 stroke-sky-500 cursor-pointer mr-1 hidden">
                    <svg id="icon" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="#a1a1aa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
        </form>
        <div class="w-full bg-zinc-900 rounded-lg">
            <div class="flex flex-col gap-4 p-4">
                <p class="font-semibold text-white text-xl">Subscribe to Premium</p>
                <p class="font-normal text-white text-sm">
                    Subscribe to unlock new features and if eligible, receive a share of ads revenue.
                </p>
                <button class="w-28 bg-sky-500 py-1 rounded-full duration-300 hover:bg-sky-600">
                    <p class="font-semibold text-white text-lg px-2">Subscribe</p>
                </button>
            </div>
        </div>
        <ul class="w-full bg-zinc-900 rounded-lg list-none">
            <li class="p-4">
                <p class="font-semibold text-white text-xl">Trends for you</p>
            </li>
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800">
                <a href="{% url 'search' %}?search=World&filter=posts">
                    <p class="font-normal text-gray-400 text-sm mb-1">Trending in Kazakhstan</p>
                    <p class="font-semibold text-white text-base">World</p>
                </a>
            </li>
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800">
                <a href="{% url 'search' %}?search=Kazakhstan&filter=posts">
                    <p class="font-normal text-gray-400 text-sm mb-1">Trending in Kazakhstan</p>
                    <p class="font-semibold text-white text-base">Kazakhstan</p>
                </a>
            </li>
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800">
                <a href="{% url 'search' %}?search=Starship&filter=posts">
                    <p class="font-normal text-gray-400 text-sm mb-1">Trending in Kazakhstan</p>
                    <p class="font-semibold text-white text-base">Starship</p>
                </a>
            </li>
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800">
                <a href="{% url 'search' %}?search=Elon&filter=posts">
                    <p class="font-normal text-gray-400 text-sm mb-1">Trending in Kazakhstan</p>
                    <p class="font-semibold text-white text-base">Elon Musk</p>
                </a>
            </li>
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800 rounded-b-lg">
                <a href="">
                    <p class="font-semibold text-sky-500 text-sm">Show more</p>
                </a>
            </li>
        </ul>
        <ul class="w-full bg-zinc-900 rounded-lg list-none">
            <li class="p-4">
                <p class="font-semibold text-white text-xl">Who to follow</p>
            </li>
            {% for popular_user in popular_users %}
            <li
                class="flex gap-4 items-center justify-between p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800">
                <div class="flex gap-3">
                    <img class="w-10 h-10 rounded-full" src="{% static popular_user.user.profile.avatar.url %}">
                    <a href="{% url 'profile' popular_user.user.username 'posts' %}">
                        <p class="font-semibold text-white text-sm">{{ popular_user.user.profile.name }}</p>
                        <p class="font-normal text-gray-400 text-xs mb-1">@{{ popular_user.user.username }}</p>
                    </a>
                </div>
                <button class="h-8 bg-white rounded-full">
                    <p class="font-semibold text-sm px-4">Follow</p>
                </button>
            </li>
            {% endfor %}
            <li class="p-4 transition duration-500 ease-in-out cursor-pointer hover:bg-zinc-800 rounded-lg">
                <a href="">
                    <p class="font-semibold text-sky-500 text-sm">Show more</p>
                </a>
            </li>
        </ul>
        <div class="grid grid-rows-2 gap-1 pb-12">
            <div class="flex gap-2">
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">Terms of Service</p>
                </a>
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">Privacy Policy</p>
                </a>
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">Cookie Policy</p>
                </a>
            </div>
            <div class="flex gap-2">
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">Accessibility</p>
                </a>
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">Ads info</p>
                </a>
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">More</p>
                </a>
                <a href="">
                    <p class="font-normal text-zinc-700 text-sm hover:underline">© 2024 Twitter Corp.</p>
                </a>
            </div>
        </div>
    </div>
</footer>